#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# More hardening
export DEB_BUILD_MAINT_OPTIONS	:= hardening=+bindnow

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--includedir=/usr/include/c_icap \
		--sysconfdir=/etc/c-icap \
		--localstatedir=/var \
		--libexecdir=/usr/lib/c_icap

override_dh_auto_install:
	mkdir -p debian/tmp/etc/c-icap
	dh_auto_install
	# install clamav pattern update script
	mkdir -p debian/libc-icap-mod-squidclamav/etc/clamav/onupdateexecute.d/
	cp debian/libc-icap-mod-virus-scan.pattern-update \
		debian/libc-icap-mod-squidclamav/etc/clamav/onupdateexecute.d/libc-icap-mod-squidclamav
	chmod 0755 debian/libc-icap-mod-squidclamav/etc/clamav/onupdateexecute.d/libc-icap-mod-squidclamav

override_dh_fixperms:
	dh_fixperms
	# config permissions
	chmod 0644 debian/libc-icap-mod-squidclamav/etc/c-icap/*
	# template permissions
	chmod 0644 debian/libc-icap-mod-squidclamav/usr/share/c_icap/templates/squidclamav/*/*
